@use '../base/variables' as vars;
@use 'sass:math';

.row {
    display: flex;
    flex-wrap: wrap;
    margin-inline: calc(var(--gutter-x, 0px) / -2);
    margin-block: calc(var(--gutter-y, 0px) / -2);
  
    & + .row {
      margin-top: var(--gutter-y, 0px);
    }
  }
  
  .col {
    padding-inline: calc(var(--gutter-x, 0px) / 2);
    padding-block: calc(var(--gutter-y, 0px) / 2);
  }
  
.col-auto {
  flex: 0 0 auto;
  width: auto;
  padding-inline: calc(var(--gutter-x) / 2);
}

@for $i from 1 through vars.$grid-columns {
    .col-#{$i} {
    width: math.div(100%, vars.$grid-columns) * $i;
    padding-inline: calc(var(--gutter-x)/2);
    }
    }