@use "sass:map";

$generate-responsive-classes: true;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$font-sizes: (
  1: 0.875rem,
  2: 1rem,
  3: 1.25rem,
  4: 1.5rem,
  5: 2rem,
);

$gutters: (
  0: 0px,
  1: 8px,
  2: 16px,
  3: 32px,
  4: 64px,
  5: 128px,
);

$grid-columns: 12;

@if $generate-responsive-classes {
  @each $breakpoint, $min-width in $breakpoints {
    @media (min-width: $min-width) {
      @each $key, $value in $font-sizes {
        .fs-#{$breakpoint}-#{$key} {
          font-size: $value;
        }
      }

      @for $i from 1 through $grid-columns {
        .col-#{$breakpoint}-#{$i} {
          flex: 0 0 calc(100% / #{$grid-columns} * #{$i});
          max-width: calc(100% / #{$grid-columns} * #{$i});
        }
      }

      @each $key, $value in $gutters {
        .gx-#{$breakpoint}-#{$key} {
          --gutter-x: #{$value};
        }

        .gy-#{$breakpoint}-#{$key} {
          --gutter-y: #{$value};
        }
      }
    }
  }
}
